@using System.Security.Claims
@{
    var accountRole = User.FindFirst(ClaimTypes.Role)?.Value;
    string controller = accountRole == "Company" ? "Company" : "User";
    var isApprovedCompany = controller == "Company" && User.FindFirst("IsApproved")?.Value == "True";
}

<ul class="navbar-nav ms-auto">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        if (isApprovedCompany)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Product" asp-action="Create">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Offer" asp-action="Create">Add Offer</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-controller="Account"
               asp-action="Profile"
               asp-route-id=@User.FindFirst(ClaimTypes.NameIdentifier)!.Value>
                Profile
            </a>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                <button type="submit" class="nav-link btn btn-link text-dark" style="cursor:pointer;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="RegisterUser">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
