@{
    var accountRole = User.FindFirst("AccountRole")?.Value;
    var accountIntId = User.FindFirst("AccountIntId")?.Value;
    string controller = accountRole == "Company" ? "Company" : "User";
}

<ul class="navbar-nav ms-auto">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-controller="Account"
               asp-action="Profile">
                Profile
            </a>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                <button type="submit" class="nav-link btn btn-link text-dark" style="cursor:pointer;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="RegisterUser">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
