@using EcoLefty.Application.ApplicationUsers.DTOs;
@model CreateApplicationUserRequestDto

@{
    ViewBag.Title = "Login";
}

<body>
    <div class="auth-form">
        <div class="title">
            Login
        </div>
        <form asp-controller="Account" asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <div class="my-field">
                <label class="required" asp-for="Email">Email</label>
                <input asp-for="Email" type="email" placeholder="example@gmail.com" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="my-field">
                <label class="required" asp-for="Password">Password</label>
                <input asp-for="Password" type="password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <input class="submit-button" type="submit" value="Login" />
        </form>
    </div>
</body>
