﻿.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.alert {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px;
    height: fit-content;
}

    .alert ul {
        list-style-type: none;
        margin: 0;
        padding: 8px;
        width: 100%;
    }

.my-form {
    width: 580px;
    padding: 35px 35px 25px 35px;
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    background-color: rgba(175, 237, 145, 0.35);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 255, 144, 0.25);
    backdrop-filter: blur(35px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: white;
}

.title {
    color: black;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.my-field {
    margin-bottom: 15px;
    text-align: left;
}

.my-field label {
    background-color: transparent;
    color: black;
    display: block;
    padding: 0;
    font-size: 16px;
    margin-bottom: 5px;
    border: none;
}

.my-field input[type="text"],
.my-field input[type="email"],
.my-field input[type="password"],
.my-field input[type="number"],
.my-field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    transition: border-color 0.3s ease;
}

    .my-field input[type="text"]:focus,
    .my-field input[type="email"]:focus,
    .my-field input[type="password"]:focus,
    .my-field input[type="number"]:focus {
        border-color: #4290f5;
        outline: none;
    }


    .my-field input[type="text"]::placeholder,
    .my-field input[type="email"]::placeholder,
    .my-field input[type="password"]::placeholder,
    .my-field input[type="number"]::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }

.birthdate-fields {
    display: flex;
}

    .birthdate-fields .birthdate-input {
        width: 33.33%;
        margin-right: 7.5px;
        padding: 3px;
        -webkit-appearance: none;
    }

birthdate-fields .birthdate-input::placeholder {
    color: black;
}


.name-fields {
    display: flex;
}

    .name-fields .name-input {
        width: 50%;
        margin-right: 7.5px;
        padding: 3px;
        -webkit-appearance: none;
    }

.name-fields .name-input::placeholder {
    color: black;
}

.submit-button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding: 8px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #4290f5;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .submit-button:hover {
        background-color: #156bcf;
    }

.forgot-pass,
.have-account {
    text-align: center;
}

    .forgot-pass a,
    .have-account a {
        text-decoration: none;
        color: #4290f5;
        transition: color 0.2s ease;
    }

        .forgot-pass a:hover,
        .have-account a:hover {
            color: #156bcf;
        }
